body{
    /* background-image: url("./assets/images/0b314c2dbcc14b474010d4831bdd2a6b.jpg"); */
    background-color: rgba(0, 0, 0, 0.915);
}

.mian{
    margin: none;
    display: flex;
   
}

.PageMain{
        border: solid 0px 1px red;
    width: 99%;
    display: flex;
    height: 100vh;
}



.options-sidebar{
    width: 10%;
    height: 99%;
    background-color: transparent;
        border: solid 0px 1px;
    position: relative;
    top: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.options-main{
    width: 90%;
        border: solid 0px 1px;
    background-color: transparent;

}

.text-white{
    color: white;
} 

.text-center{
    text-align: center;
}

.navigator{

}
/* Top Nav and profile */

.Top-nav{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: transparent;
}

.Top-search-Bar{
    padding: 5px 55px;
        border: solid 0px 1px rgba(255, 255, 255, 0.653);
    border-radius: 20px;
}

.top-nav-button{
    display: flex;
    justify-content: space-around;
}

.button-tab{
    padding: 10px 15px;
    background-color: rgba(128, 128, 128, 0.223);
        border: solid 0px 1px rgba(255, 255, 255, 0.386);
    border-radius: 5px;
    color: white;
    margin: 5px;
    transition: all ease-in 0.3s ;
}

.button-tab:hover{
    background-color: rgba(240, 248, 255, 0.464);
    color: red;
}

.button-tab:active{
    background-color: rgb(255, 255, 255);
    color: red;
}

.big-Button{
    padding: 10px 20px ;
    border: none;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    color: white;
    font: bold;
    font-size: larger;

}

.body-one{
        border: solid 0px 1px white;
    width: 100%;
    height: 450px;
}

/* top Game */
.top-game{
    width: 40vw;
    height: 250px;
        border: solid 0px 1px rgb(255, 0, 0);
    border-radius: 20px;
    overflow: hidden;
}

.tag{
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0px 10px;
}

.details-top-game{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px ;
    height: 200px;
}









.p-5{
    padding: 5px;
}
.p-7{
    padding: 7px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.p-3{
    padding: 3px;
}

.m-5{
    margin: 5px;
}
.m-7{
    margin: 7px;
}
.m-10{
    margin: 10px;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
}
.m-3{
    margin: 3px;
}